<!DOCTYPE html>
<html>
<head>
	<title>Scope</title>
</head>
<body>


	<form method='POST' action='/signup'>
		<h1>Signup</h1>
		<label> Create a username:</label> <input type='text' name='username'/>
		<label> Set a password:</label> <input type='password' name='remote'/>
		<input type='submit'/>

	</form>

	<br/> <br/> <br/> 

	<form method='POST' action='/login'>
		<h1>Login</h2>
		<label> Username:</label> <input type='text' name='user_name'/>
		<label> Password:</label> <input type='password' name='_remote'/>
		<input type='submit'/>

	</form>

</body>
</html>